services:
  db:
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_USER=app
      - POSTGRES_PASSWORD=changethis
      - POSTGRES_DB=app
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env
    develop:
      watch:
        - action: sync
          path: ./backend/app
          target: /app/app
          ignore:
            - __pycache__
